.TicketsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.Tickets {
    width: 20%;
}

.CategoryTitle {
    width: 100%;
    background-color: #c7d0d8;
    text-align: center;
}

.CategoryTitle h4 {
  padding: 5px;
}